* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #1c1c1c;
    padding: 0px 100px 0px 100px;
    width: 100vw;
    height: 80px;
    position: fixed;
    /* backdrop-filter: blur(10px); */
}

.logo h3 {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.logo {
    transition: all 0.3s ease;
}

.logo span {
    color: #06ee06;
}

.logo i {
    display: none;
}

.logo i:hover {
   color: #06ee06;
}

.logo h3:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.links a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: #06ee06;
    transition: all 0.3s ease;
}

/* home section  */
.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 60px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.home-content h1 {
    font-size: 40px;
    color: white;
}

.home-content span {
    color: #06ee06;
}

.home h3 {
    font-size: 25px;
    color: white;
}

.home p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    line-height: 28px;
}

.home .social-links {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    margin-bottom: 10px;
    /* margin-left: -465px; */
    
}

.social-links i {
    color: white;
    font-size: 30px;
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px lightgray;
    margin-bottom: 10px;
}

.social-links i:hover {
    background-color: #06ee06;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: none;
    box-shadow: 0px 0px 40px #06ee06;
    /* font-size: 35px; */
    transform: scale(1.1);
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.buttons button {
    height: 45px;
    width: 120px;
    font-size: 25px;
    color: white;
    outline: none;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 5px;
     box-shadow: 0px 0px 5px lightgray;
     transition: all 0.4s ease-in;
}

.buttons #hire {
    height: 45px;
    width: 120px;
    font-size: 25px;
    color: black;
    outline: none;
    background: #06ee06;
    border: none;
     border-radius: 5px;
     transition: all 0.4s ease-in;
}


.buttons button:hover {
    background-color: #06ee06;
    color: black;
    transition: all 0.4s ease-in;
    border: none;
    transform: scale(1.1);
    box-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.home-img .img {
    background: transparent;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px lightgrey;
}

.img:hover {
    box-shadow: 0px 0px 20px #06ee06,
                 0px 0px 50px #06ee06, 
                0px 0px 100px #06ee06;
    cursor: pointer;
}


.img img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #06ee06;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #252424;
}


/* about section  */
.about {
    height: 90vh;
    width: 100vw;
    background-color: #031403;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 60px;
}

.about-content h1 {
    font-size: 40px;
    color: white;
}

.about-content span {
    color: #06ee06;
}

.about-content p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    line-height: 28px;
}

.about-content button {
    border: none;
    outline: none;
    height: 45px;
    width: 160px;
    background-color: #06ee06;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 5px;
}

.about-content button:hover {
    background-color: #06ee06;
    color: black;
    transition: all 0.4s ease-in;
    border: none;
    transform: scale(1.1);
    cursor: pointer;
}

.about-img .img {
    background: transparent;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px lightgrey;
    object-fit: cover;
}

.img:hover {
    box-shadow: 0px 0px 20px #06ee06,
                 0px 0px 50px #06ee06, 
                0px 0px 100px #06ee06;
    cursor: pointer;
}


.img img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

/* services section  */
.services {
    height: 92vh;
    width: 100vw;
    background-color: black;
    padding-top: 40px;
}

.services h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    height: auto;
}

.services-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.4s ease;
}

.services-boxes .box {
    height: 400px;
    width: 280px;
    background-color: #1c1c1c;
    color: #06ee06;
    border: 3px solid #06ee06;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
}

.services-boxes .box i {
    font-size: 40px;
    margin-top: 20px;
    color: white;
}

.services-boxes .box h2 {
    font-size: 35px;
    margin-top: 20px;
}

.services-boxes .box p {
    font-size: 20px;
    padding: 10px;
}

.box:hover {
    background-color: #06ee06;
    transition: all 0.4s ease;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

/* contact section  */
.contact {
    height: 88vh;
    width: 100vw;
    background-color: #031403;
    padding-top: 40px;
}

.contact h1 {
    text-align: center;
    font-size: 45px;
    color: white;
    padding-bottom: 5px;
}

.contact span {
    color: #06ee06;
}

.contact-boxes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.email-box {
    height: 70vh;
    width: 40%;
    text-align: center;
}

.email-box input {
    outline: none;
    background: transparent;
    font-size: 22px;
    height: 55px;
    width: 100%;
    margin-top: 2rem;
    padding-left: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in;
    border: 2px solid #06ee06;
}

.msg {
    /* background-color: aqua; */
    flex-wrap: wrap;
}

.msg input {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 240px;
    padding-right: 320px;
   border: 2px solid #06ee06;
   background: transparent;
   margin-top: 2rem;
   color: white;
   font-size: 22px;
   border-radius: 4px;
   outline: none;
}

.msg button {
    border: none;
    outline: none;
    font-size: 25px;
    height: 45px;
    width: 200px;
    background-color: #06ee06;
    position: absolute;
    margin-top: 340px;
    margin-left: -310px;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: black;
}

.msg button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #06ee06;
    cursor: pointer;
}

/* footer section  */
.back-to-top {
    height: 60px;
    width: 100vw;
    background-color: #252424;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.back-to-top a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.back-to-top:hover  {
    cursor: pointer;
    background-color: #06ee06;
    color: black;
}

.back-to-top:hover a {
    color: black;
}

.footer-section {
    background-color: black;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-links2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    margin-bottom: 10px;
    
}

.social-links2 i {
    color: white;
    font-size: 30px;
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px lightgray;
    margin-bottom: 10px;
}

.social-links2 i:hover {
    background-color: #06ee06;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: none;
    box-shadow: 0px 0px 40px #06ee06;
    transform: scale(1.1);
}


.social-links i {
    color: #06ee06;
}

.foo-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.foo-content a {
    text-decoration: none;
    font-size: 22px;
    color: lightgray;
    transition: all 0.3s ease;
}

.foo-content a:hover {
    color: #06ee06;
}

.copwrite p {
    margin-top: 20px;
    text-align: center;
    color: lightgray;
    font-size: 21px;
}

/* responsive  */

@media(max-width:850px) {  

    .logo i {
        display: flex;
        color: white;
        font-size: 35px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .links {
    position: absolute;
    top: 100%;
    width: 30%;
    background-color: rgba(1, 1, 1, 0.8);
    right: 0;
    border-left: 2px solid #06ee06;
    border-bottom: 2px solid #06ee06;
    padding: 30px 30px 30px 30px;
    display: grid;
    display: none;
    transition: all 0.4s ease;
    }

    .links a:hover {
        text-decoration: underline;
    }

    .active {
        display: flex;
        flex-direction: column;
         transition: all 0.4s ease;
    }

    .social-links {
        display: flex;
        justify-content: center;
    }

    .home {
        flex-direction: column-reverse;
        padding-top: 550px;
        padding-bottom: 500px;
        text-align: center;
    }

    .home .buttons {
        display: flex;
        justify-content: center;
    }

    .about {
        flex-direction: column;
        padding-top: 400px;
        padding-bottom: 500px;
        text-align: center;
    }

    .services {
        height: 170vh;
    }

    .services-boxes {
        flex-wrap: wrap;
    }

    .contact {
       height: 160vh;
       text-align: center;
    }

    .contact-boxes {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .msg {
        margin-top: -50px;
    }

}

@media(max-width: 600px) {
    .services {
        height: 320vh;
    }
}


